.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #00a8cc, #0077b6);
}

.login-content {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.login-form {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 60px;
  text-align: center;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 120%;
  height: auto;
}

.login-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
  left: -20%;
  width: 80%;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.input-group input {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: -80px;
}

.login-button1 {
  padding: 12px 24px;
  background-color: #007bff;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button1:hover {
  background-color: #0056b3;
}
.signup-link {
  margin-top: 20px;
  margin-left: -70px;
}
